* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    flex-direction: column;
    background-color: royalblue;
}